html {
    background-color: rgb(255, 255, 255);
  }
  * {
    padding: auto;
    margin: auto;
  }
  
  body {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
  }