.nav{

    background-color: rgb(247, 238, 238);
    font-style: bold;
    font-size: 26px;
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: row;
}
